extends ../layouts/sign

block content
  h5 Create account

  form#register-email(method='POST')
    .form-group.input-group-lg
      input.form-control(type='text' placeholder='Firstname' name='firstName' required='' autofocus='')
    .form-group.input-group-lg
      input.form-control(type='text' placeholder='Lastname'  name='lastName' required='')
    .form-group.input-group-lg
      input.form-control(type='email' placeholder='Email'  name='email' required='')
    .form-group.input-group-lg
      input.form-control(type='password' placeholder='Password' name='password' required='')
      #recaptcha-container
    button.btn.btn-primary.btn-lg.btn-block(type='submit') Register

    hr
    p.text-muted Already have an account?
        a.btn.btn-primary.btn-lg.btn-block(href='/login') Login!
    
        