extends ../layouts/sign

block content
  div#register-sms-step1
    h5 Register with phone number

    form#register-sms(method='POST')
      .form-group.input-group-lg
        input.form-control(type='text' name='firstName' placeholder='Firstname' required='' autofocus='')
      .form-group.input-group-lg
        input.form-control(type='text' name='lastName' placeholder='Lastname' required='')
      .form-group.input-group-lg
        input.form-control(type='text' name='phoneNumber' placeholder='Phone number' required='' autofocus='')
        #recaptcha-container
      button.btn.btn-primary.btn-lg.btn-block(type='submit') Sign in
      

  div#register-sms-step2
    h5 Verify code

    form#register-sms-verify(method='POST')
      .form-group.input-group-lg
        input.form-control(type='text' name='code' placeholder='Code' required='' autofocus='')
      button.btn.btn-primary.btn-lg.btn-block(type='submit') Verify

